@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Inter Bolder;
    src: url(/fonts/static/Inter-ExtraBold.ttf);
}

.page {
    font-family: Inter;
    max-width: 1280px;
    margin: 0 auto;
    background: #2A2C2F;
    color: #fff;
}