.photo-grid {
    display: grid;
    max-width: calc(100% - 7.5%);
    margin: 0 auto;
    padding-top: 92px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 1.25vw;
}