.header__logo {
    max-width: 176px;
    max-height: 52px;
    margin: 28px auto auto 48px;
}

@media screen and (max-width:1023px) {
    .header__logo {
        max-width: 142px;
        max-height: 42px;
        margin: 28px 0 0;
    }
}

@media screen and (max-width:767px) {
    .header__logo {
        max-width: 142px;
        max-height: 42px;
        margin: 16px auto auto 16px;
    }
}