.cover__text {
    display: inline-block;
    max-width: 360px;
    position: relative;
    margin: 0 auto;
    padding: 32px 0 245px 0;
    text-align: center;
    z-index: 5;
}

@media screen and (max-width: 320px) {
    .cover__text {
        padding: 16px 0 33px 0;
        font-size: 14px;
        line-height: 1.14;
    }
}
