.cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.cover__overlay::before {
    opacity: .3;
    background-color: #2A2C2F;
    /*Привет я не смог разобраться как сделать фон через псевдокласс, ломается функционал, можешь подсказать как мне исправить эту проблему?
    И по поводу шрифтов, проект уже задеплоен на gh-pages и ссылки типизированы под веб-сервер, потому шрифт на локалхосте не работает в ридми есть ссылка на проект опубликованный там все корректно, не ругайся <3*/
}