.places__text-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 48px;
}

@media screen and (max-width: 1023px){
    .places__text-container{
        display: block;
        margin: 0 18px 32px 18px;
    }
}