.cover__title {
    max-width: 560px;
    position: relative;
    margin: 0 auto;
    text-decoration: none;
    padding-top: 245px;
    font-family: Inter Bolder;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    z-index: 5;
}

@media screen and (max-width:320px) {
    .cover__title {
        padding-top: 33px;
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
    }
}
